$yellow-padrao: #fff159;

$bg-body: #eee;
$bg-loading: $yellow-padrao;
$bg-btn-pay: #3483fa;
$bg-header: $yellow-padrao;
$bg-form-icon: #f2f2f2;

$border-loading: rgba(0, 0, 0, 0.1);
$border-color: #eee;

$color-white: #fff;
$color-link: #333;
$color-padrao: #666;

$input-padrao: rgba(0,0,0,.2);

$logo-img: url('/Logo_ML.png');
$icon-search: url('/icon_search.png');
$icon-shipping: url('/ic_shipping.png');